In [9]:
import re
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D #3D scatterplot
%matplotlib inline

In [10]:
cd '/Users/sauce/Desktop/machine_learning_examples-master/linear_regression_class'

/Users/sauce/Desktop/machine_learning_examples-master/linear_regression_class

In [11]:
df = pd.read_csv("data_2d.csv", sep = ',', header = None)

In [12]:
df.head(5)

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [56]:
Y = df[2]

In [57]:
X = df.drop(2, axis = 1)

In [58]:
X = np.array(X)
Y = np.array(Y)

In [59]:
X.shape

(100, 2)

In [60]:
z = np.ones((100,1))
X = np.append(X,z, axis = 1)
X.shape

(100, 3)

In [62]:
# Calculate weights
w = np.linalg.solve(np.dot(X.T,X), np.dot(X.T, Y))
Yhat = np.dot(X,w)

In [64]:
# Check Accuracy of model

d1 = Y-Yhat
d2 = Y-Y.mean()
r2 = 1-d1.dot(d1)/d2.dot(d2)
print("R squared is:", r2)

R squared is: 0.9980040612475778